DATABASE_URL=sqlalchemy url link 
GCS_BUCKET=google cloud client name 
TO_IMPORT_ID=gg drive folder id 
ARCHIVE_ID=gg drive folder id 
ERROR_ID=gg drive folder id 
LOG_ID=gg drive folder id 
GOOGLE_TOKEN_PICKLE="base 64 token"